@font-face {
	font-family: raleway;
	src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

#cpheader{
	font-family: raleway;
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#mobnumdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	margin-top: 2%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#mobnum{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#telnumdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#telnum{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#emaildiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#email{ 
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#addressdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 3%;
}

#address{ 
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

.enter{
	float: right;
	position: absolute;
	top: 40%;
	right: 10%;
	padding: 1.5%;
	background-color: white;
	border-color: #25b15e;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px 15px 15px 15px;
}

#success{
	padding-left: 5%;
	font-family: raleway;
	font-size: 90%;
	color: green;
	margin-bottom: 2%;
}

#cpersondup{
	padding-left: 5%;
	font-family: raleway;
	font-size: 90%;
	color: red;
	margin-bottom: 2%;
}

#error{
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#firstnameerror{
	margin-top: 0.5%;
	position: absolute;
	margin-left: 11%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#lastnameerror{
	margin-top: 0.5%;
	position: absolute;
	margin-left: 39.5%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#moberror{
	position: absolute;
	margin-left: 15%;
	margin-top: 4.6%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#telerror{
	position: absolute;
	margin-left: 17%;
	margin-top: 9%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#emerror{
	position: absolute;
	margin-left: 13.5%;
	margin-top: 13.3%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#adderror{
	position: absolute;
	margin-left: 9%;
	margin-top: 17.5%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}