@font-face {
	font-family: raleway;
	src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

body{
	font-family: raleway;
}

#sitecodeshow, #orgcodeshow, #municodeshow{
	display: inline;
}

#searchbody{
	width: 100%;
	padding-bottom: 2%;
}	

#jnheader{
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jsheader{
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#jnhr{
	width: 90%;
	border-color: #25b15e;
	margin-bottom: 2%;
}

#jshrf{
	width: 90%;
	border-color: #25b15e;
	margin-top: 3%;
}
	
#search{
	padding-top: 2%;
	padding-left: 7%;
}
	
#searchbox, #searchboxtwo, #searchboxthree {
	font-family: raleway;
	width: 60%;
	height: 3%;
	margin-right: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#searchbytype{
	font-family: raleway;
	height: 3%;
	width: 15%;
	border-color: #25b15e;
	margin-right: 3%;
}

.enter{
	font-family: raleway;
	height: 3%;
	background-color: white;
	border-color: #25b15e;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px 10px 10px 10px;
}

#error{
	margin-top: 0.5%;
	position: absolute;
	margin-left: 19%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}

#jnnotif{
	margin-top: 6%;
	position: absolute;
	margin-left: 23%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 80%;
	color: red;
	margin-bottom: 0.2%;
}

#ujjournal{
	font-size: 140%;
	position: relative;
	padding-top: 1%;
	padding-left: 5%;
	padding-bottom: 1%;
}

.link{
	margin-left: 2%;
	padding: 0.7%;
}