@font-face {
	font-family: raleway;
	src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

#jsheader{
	font-family: raleway;
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#subhead{
	font-size: 60%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#bodyrep{
	padding-left: 5%;
	width: 90%;
	height: 50%;
	overflow-y: scroll;
}

#repnumself{
	font-family: raleway;
	border-radius: 20px 20px 0px 0px;
	background-color: #d5d7de;
	padding: 1.2%;
	width: 60%;
	float: right;
}
	
#repcontself{
	font-family: raleway;
	border-radius: 0px 0px 20px 20px;
	border-color: #d5d7de;
	border-style: solid;
	border-width: 2px;
	padding: 1.2%;
	padding-bottom: 4%;
	margin-bottom: 1%;
	background-color: white;
	width: 59.5%;
	word-break: break-all;
	float: right;
}

#repnum{
	font-family: raleway;
	border-radius: 20px 20px 0px 0px;
	background-color: #25b15e;
	padding: 1.2%;
	width: 60%;
	float: left;
}
	
#repcont{
	font-family: raleway;
	border-radius: 0px 0px 20px 20px;
	border-color: #25b15e;
	border-style: solid;
	border-width: 2px;
	padding: 1.2%;
	padding-bottom: 4%;
	margin-bottom: 1%;
	background-color: white;
	width: 59.5%;
	word-break: break-all;
	float: left;
}
	
#commentbox{
	background-color: #d5d7de;
	width: 90%;
	text-align: center;
	margin-left: 5%;
	padding-bottom: 1%;
}
	
#submitbox{
	background-color: #d5d7de;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 2%;
}
	
#report{
	margin-top: 2%;
	resize: none;
	border-style: solid;
	border-width: 1px;
	border-color: #25b15e;
}
	
#submit{
	width: 7%;
	height: 4%;
	margin-left: 68%;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #25b15e;
}