@font-face {
	font-family: raleway;
	src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

body #navbar{
	background-color: #208f4d;
	height: 100%;
	width: 100%;
	color: white;
}
	
#navstat{
	text-align: center;	
}
	
#stattitle, #stattitle-js, #stattitle-rg{
	cursor: pointer;
	padding: 10%;
	font-family: raleway;
	font-size: 130%;
}
	
#stattitle-b{
	cursor: pointer;
	padding: 10%;
	font-family: raleway;
	font-size: 110%;
	background-color: #267747;
	color: #e0ded8;
}
	
#stattitle-cp, #stattitle-o, #stattitle-s, #stattitle-v, #stattitle-g, #stattitle-cc, #stattitle-dp, #stattitle-sps{
	cursor: pointer;
	padding: 10%;
	font-family: raleway;
	font-size: 90%;
	background-color: #267747;
}
	
#decicon{
	float: left;
}
	
.current{
	background-color: #25b15e!important;
}

#notifnum{
	float: right;
	background-color: red;
	width: 12%;
	font-size: 70%;
	padding: 3%;
	margin-top: 6%;
	border-radius: 300px 300px 300px 300px;
	border-color: red;
	border-style: solid;
	border-width: 1px;
}

#adminsettings {
	font-family: raleway;
	font-size: 120%;
	display: none;
	position: absolute;
	top: 32%;
	left: 100%;
	z-index: 3;
	background-color: #f9f9f9;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 120%;
	height: 50%;
	overflow-y: scroll;
}

#atarrow{
	margin-left: 20%;
}