#oheader{
	font-family: raleway;
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#coloryeardiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	margin-top: 2%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#coloryear{
	font-family: raleway;
	margin-left: 1%;
	width: 10%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#colorpallete{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 40%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#color{
	margin-left: 1%;
	width: 12%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

.enter{
	float: right;
	position: absolute;
	top: 40%;
	right: 10%;
	padding: 1.5%;
	background-color: white;
	border-color: #25b15e;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px 15px 15px 15px;
}

#success{
	padding-left: 5%;
	font-family: raleway;
	font-size: 90%;
	color: green;
	margin-bottom: 2%;
}

#colorerror{
	margin-top: 0.5%;
	position: absolute;
	margin-left: 6.3%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}