@font-face {
	font-family: raleway;
	src: url(fonts/raleway/Raleway-SemiBold.ttf);
}

#cpheader{
	font-family: raleway;
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#firstnamediv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 40%;
	margin-top: 2%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#firstname{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#lastnamediv{
	position: relative;
	right: 21%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	margin-top: 2%;
	float: right;
	width: 45%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#lastname{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#mobnumdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#mobnum{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#telnumdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#telnum{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#emaildiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#email{ 
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

#addressdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	padding-left: 7%;
	padding-bottom: 3%;
}

#address{ 
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

.enter{
	float: right;
	position: absolute;
	top: 40%;
	right: 10%;
	padding: 1.5%;
	background-color: white;
	border-color: #25b15e;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px 15px 15px 15px;
}