#oheader{
	font-family: raleway;
	color: #208f4d;
	font-size: 170%;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#jshr{
	width: 90%;
	border-color: #25b15e;
}

#inputdiv{
	position: relative;
	left: 0%;
	font-family: raleway;
	color: #208f4d;
	font-size: 120%;
	float: left;
	width: 50%;
	margin-top: 2%;
	padding-left: 7%;
	padding-bottom: 2%;
}

#cname{
	margin-left: 1%;
	width: 40%;
	height: 3%;
	border-color: #25b15e;
	border-style: solid;
	border-width: 1px;
}

.enter{
	font-family: raleway;
	float: right;
	position: absolute;
	top: 45%;
	right: 10%;
	padding-top: 0.7%!important;
	padding-bottom: 0.7%!important;
	font-size: 80%;
	padding: 1.5%;
	color: white;
	background-color: #25b15e;
	border-color: #25b15e;
	border-style: solid;
	border-width: 3px;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
}

#success{
	padding-left: 5%;
	font-family: raleway;
	font-size: 90%;
	color: green;
	margin-bottom: 2%;
}

#error{
	padding-left: 5%;
	font-family: raleway;
	font-size: 90%;
	color: red;
	margin-bottom: 2%;
}

/*
#error{
	position: absolute;
	top: 63%;
	margin-left: 13%;
	padding-left: 5%;
	font-family: raleway;
	font-size: 70%;
	color: red;
	margin-bottom: 0.2%;
}
*/